

body {
    font-family: arial;
    background-color: rgb(185,179,175);
    padding: 30px; 
    opacity: 0.9;
}

h1{
    background-color: honeydew;
    padding: 10px;
}

h2 {
    color: rgb(255,255,255);
    background-color: sandybrown;
    opacity: 0.8;
    padding: 10px;
}

p {
    margin: 20px;
    padding: 10px;
}

#sitemap {
    
    text-align: center;
    margin: 10px;
    padding: 10px;
}

img {
    width: 500px;
    height: 300px;
}